language: ruby
sudo: false
cache: bundler
rvm:
- 2.2.2
install: bundle install
script: bundle exec jekyll build && bundle exec htmlproof . --disable-external
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true