<li id="{{ include.item.id }}" {% if include.item.open != 'always' and !include.item.link %}class="toggle"{% endif %}>
    {% if include.item.link %}
    <a href="{{ site.baseurl }}/{{ include.item.link }}">{{ include.item.name }}</a>
    {% else %}
    {% unless include.item.open == 'always' %}
    <span>
        <img src="{{ site.baseurl }}{% if include.item.open or page.menu-id == include.item.id %}/images/arrow-open.gif{% else %}/images/arrow-closed.gif{% endif %}" alt="Navigation arrow"/>
    </span>
    {% endunless %}
    {{ include.item.name }}
    <ul class="level2" {% unless include.item.open or page.menu-id == include.item.id %}style="display: none;"{% endunless %}>
        {% for child in include.item.children %}
        <li>
            {% if child.link or child.href %}
            <a href="{% if child.link %}{{ site.baseurl }}/{{ child.link }}{% else %}{{ child.href }}{% endif %}">{{ child.name }}</a>
            {% else %}
            {{ child.name }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</li>