<li id="{{ include.item.id }}" {% if include.item.open != 'always' %}class="toggle"{% endif %}>
    {% if include.item.link %}
    <a href="{{ site.baseurl }}/{{ include.item.link }}">{{ include.item.name }}</a>
    {% else %}
    {% if include.item.open != 'always' %}
    <span>
        <img src="{{ site.baseurl }}{% if include.item.open %}/images/arrow-open.gif{% else %}/images/arrow-closed.gif{% endif %}"/>
    </span>
    {% endif %}
    {{ include.item.name }}
    {% include navigation-children.html child=include.item %}
    {% for child in include.item.children %}
    <li {% if child.open != 'always' %}class="toggle"{% endif %}>
        {% if child.open != 'always' %}
        <span>
            <img src="{{ site.baseurl }}{% if child.open or page.menu-id == child.id %}/images/arrow-open.gif{% else %}/images/arrow-closed.gif{% endif %}"/>
        </span>
        {% endif %}
        {{ child.name }}
        {% include navigation-children.html child=child %}
    </li>
    {% endfor %}
    {% endif %}
</li>