/* html body tag style */  
body {  
    font-family: arial, Helvetica, sans-serif;  
    font-size: 100%;
    margin: 0px;  
    padding: 0px;
/*    background: #acacac;*/
	color: #063f67;
}  
  
/* CSS Style Rule for Div having id="outer-container" */  
/* outer-container will hold the whole assembly of  
   nested div overlays. */  
/* It will also center align the design */  

#outer-container {  
    width: 769px;  
    margin: 0 auto;
    background: white;
	border: 1px solid #797979;
}  
  
/* header CSS Style Rule */  
#header {  
    width: 100%;
	background: #0c3756;
	height: 60px;
}  
  
/* footer CSS Style Rule */  
#footer {  
    width: 100%;
	text-align: center;
	padding-left: 5px;
}  
  
/* Top navigation CSS Style Rule */  
#top-Nav {  
    width: 100%;  
    background-color: black;  
    margin: 2px 0px 2px 0px;  
}  
  
/* content-container CSS Style Rule */  
/* It will hold the main content of the page. */  
#content-container {  
   	margin-top: 0;
	margin-bottom: 2px;
	margin-left: 0px;
	padding: 15px;
	color: #06385d;
}

.gallery {
	width: 100%;
	display: inline-block;
}

.img {
  margin: 15px;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }

.img img {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  }

.img a:hover img {
  border:1px solid #0000ff;
  }

.desc {
  text-align:center;
  font-weight:normal;
  width: 100%;
	margin: 5px;
}

.attribute {
	font-size: 70%;
	text-align: left;
}

.code {
	font: 90% "Courier New", Courier, mono;
}

.red {
	color: #ff2600;
}