---
navigation:
    - id: l1-home
      name: User Help Home Page
      link: index.html
    - id: l1-quickstart
      name: Quickstart User Guides
      open: yes
      children:
          - name: Getting Started v. 4.4.10
            link: getting-started-4.html
          - name: Getting Started v. 5.0.0
            link: getting-started-5.html
    - id: l1-workflow
      name: Workflow User Guides
      open: always
    - id: l1-insight
      name: OMERO.insight
      open: no
      children:
          - name: Importing Data v. 4.4.10
            link: importing-data-4.html
          - name: Importing Data v. 5.0.0
            link: importing-data-5.html
          - name: Viewing Data
            link: viewing-data.html
          - name: Managing Data
            link: managing-data.html
          - name: Collaborating with Data
            link: collaboration.html
          - name: ROIs and Measurement Tool
            link: measurement-tool.html
          - name: Exporting Images
            link: output.html
          - name: Export Images Using Scripts
            link: scripts.html
          - name: Using Utility Scripts
            link: utility-scripts.html
          - name: Increasing Client Memory
            link: memory.html
    - id: l1-web
      name: OMERO.web
      open: no
      children:
          - name: Using the Web Client
            link: web-client.html
          - name: URLs for Linking to Data
            link: urls-to-data.html
    - id: l1-other
      name: Other OMERO Applications
      open: no
      children:
          - name: ImageJ with OMERO
            link: imagej.html
          - name: OMERO.editor
            link: editor.html
          - name: OMERO.dropbox
            link: dropbox.html
          - name: Virtual Microscope
            link: virtual-microscope.html
    - id: l1-more
      name: More
      open: yes
      children:
          - name: Previous Versions
            link: previous.html
          - name: Resources
            link: resources.html
          - name: Contact OME
            link: contact.html
          - name: Main OME Website
            href: http://www.openmicroscopy.org/site
---
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/display.css">

        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#toggle-1 li').click(function (event) {
                    if (event.target.nodeName.toLowerCase() == "a"){
                    return;
                    };
                    var text = $(this).children('ul.level2');
                    if (text.is(':hidden')) {
                        text.slideDown('10');
                        $(this).children('span').html('<img src="{{ site.baseurl }}/images/arrow-open.gif" />');
                    } else {
                        text.slideUp('10');
                        $(this).children('span').html('<img src="{{ site.baseurl }}/images/arrow-closed.gif" />');
                    }
                });
            });
        </script>
        
        <script language="JavaScript" type="text/javascript">
            var edress = 'ux_at_openmicroscopy_dot_org_dot_uk';
               function get_edress(){
                  var re= /_at_/gi;
                  edress = edress.replace(re,'@');
                  var re= /_dot_/gi;
                  edress = edress.replace(re,'.');
                  var the_link="mai" + "lto" +":"+edress+"?subject=User%20Guides%20Website%20Feedback&body=Thank%20you%20for%20contacting%20us.%0APlease%20provide%20as%20much%20information%20as%20possible%20so%20we%20can%20deal%20with%20your%20enquiry%20efficiently." ;
                  window.location=the_link;
               }
        </script>

    </head>

    <body>
        <div id="content">
            <div id="container">
                <div id="navigation">

                    <div id="banner">
                        <p><img src="{{ site.baseurl }}/images/omero-logo-on-white-220.png" alt="OMERO logo" /></p>
                        <h1>User Help</h1>
                    </div> <!-- banner -->

                    <!-- Level 1 List -->
                    <ul class="level1" id="toggle-1">

                        {% for level1 in page.navigation %}
                        {% include navigation.html item=level1 %}
                        {% endfor %}

                    </ul><!-- End Level 1 List -->

                    <div id="footer">

                        <p>&copy; 2000-2014<br/>The Open Microscopy Environment</p>

                    </div><!-- End Footer -->

                </div> <!-- navigation -->

                <div id="page">
                    
                    <div id="page-header">
                        <h1>{{ page.title }}</h1>

                        {% for pdf in page.pdfs %}
                        <p class="actions"><a href="pdf/{{ pdf }}">Download PDF</a></p>
                        {% endfor %}
                    </div> <!-- page-header -->

                    <div id="page-body">

                        <div id="page-contents">

                            {{ content }}

                        </div> <!-- page-contents -->

                    </div> <!-- page-body -->

                </div> <!-- page -->

            </div> <!-- container -->
        </div> <!-- content -->
    </body>
</html>
