<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/display.css">

        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>
        <script type='text/javascript' src='{{ site.baseurl }}/js/jquery.cookie.js'></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $('#toggle-1 li').click(function () {

                    var text = $(this).children('ul.level2');

                    if (text.is(':hidden')) {
                        text.slideDown('10');
                        $(this).children('span').html('<img src="{{ site.baseurl }}/images/arrow-open.gif" />');
                        $.cookie((this).children.attr('id'), 'expanded');
                    } else {
                        text.slideUp('10');
                        $(this).children('span').html('<img src="{{ site.baseurl }}/images/arrow-closed.gif" />');
                        $.cookie((this).children.attr('id'), 'collapsed');
                    }

                });

            });
        </script>

    </head>

    <body>
        <div id="content">
            <div id="container">
                <div id="navigation">

                    {% include navigation.html %}

                </div> <!-- navigation -->

                <div id="page">
                    
                    <div id="page-header">
                        <h1>{{ page.title }}</h1>

                        {% for pdf in page.pdfs %}
                        <p class="actions"><a href="pdf/{{ pdf }}">Download PDF</a></p>
                        {% endfor %}
                    </div> <!-- page-header -->

                    <div id="page-body">

                        <div id="page-contents">

                            {{ content }}

                        </div> <!-- page-contents -->

                    </div> <!-- page-body -->

                </div> <!-- page -->

            </div> <!-- container -->
        </div> <!-- content -->
    </body>
</html>
